color{
    background:#30391f;
    background:#668a4c;
    background:#accc7b;
    background:#464646;
    background:#ffffff;
}
body{
    background: #464646;
}
*{
    
    margin: 0;
}
header{
    margin: auto;
    text-align: center;
    color: #ffffff;
    height: 80px;
    width: 100%;
    background: #0e0e0e;
}
#table{
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    background: #668a4c;
    margin-top: px;
    width: 460px;
    height: 150px;
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr;
    border: #668a4c solid 10px;
    border-radius: 20px;
}
#btn_ver{
    position: absolute;
    top: 310px;
    left: 0;
    right: 0;
    margin: auto;
    background: #668a4c;
    width: 100px;
    height: 30px;
    border: #668a4c solid ;
    border-radius: 10px;
    font-size: 17px;
}
.reference{
    text-align: center;
    top: 100px;
    width: 40px;
    height: 50px;
    font-size: 20px;
    background: #30391f;
    color: #ffffff;
    margin-top: 15px;
    margin-right:auto;
    margin-left: auto;
    border-radius: 12px;
}
.reference > p{
    position: relative;
    top: 20px;
}
.casillas{
    text-align: center;
    position: relative;
    margin-right:auto;
    margin-left: auto;
    border: 0;
    border-radius: 12px;
    background: #accc7b;
    width: 40px;
    height: 50px;
    font-size: 20px;
}
#resultados{
    background: #0e0e0e;
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    display: grid;
    border: #0e0e0e solid 10px;
    border-radius: 20px;
    grid-template-columns: 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr;
}

.btn_res{
        text-align: center;
        top: 100px;
        width: 40px;
        height: 50px;
        font-size: 20px;
        color: #ffffff;
        margin-top: 15px;
        margin-right:auto;
        margin-left: auto;
        border-radius: 12px;

}
.btn_res > p{
    position: relative;
    top: 20px;
}
#incorrect{
    font-size: 40px;
    width: 34px;
    height: 44px;
    color: #b40000;
    border: #b40000 solid 3px;
}
#incorrect > p {
    top: -6px;
}
#correct > p {
    top: -5px;
}
#correct{ 
    font-size: 40px;
    width: 34px;
    height: 44px;
    color: #00b400;
    border: #00b400 solid 3px;

}
.bin_res{
    background: #668a4c;
}
#rand_res{
    background: #30391f;
}