*{
    margin: 0;
}
#table{
    background: rgb(11, 45, 107);
    width: 460px;
    height: 100px;
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr;
}
.reference{
    text-align: center;
    top: 100px;
    width: 40px;
    height: 50px;
    font-size: 20px;
    background: rgb(47, 96, 185);
    color: rgb(5, 3, 36);
    margin:auto;
    border-radius: 12px;
}
.reference > p{
    position: relative;
    top: 20px;
    bottom: 0px;
}